.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.hero-page {
  top: 5%;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.page-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

}

.page-image {
  left: 10%;
  width: 566px;
  bottom: 4px;
  height: 500px;
  position: absolute;
  object-fit: cover;
}

.page-image1 {
  left: 60%;
  width: 412px;
  bottom: -40px;
  height: 360px;
  position: absolute;
  object-fit: cover;
}

.page-container1 {
  top: 10%;
  right: 66px;
  width: 600px;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
}

.page-text {
  color: #0e5e14;
  font-size: 2.5rem;
  font-family: Times New Roman;
  padding-left: 5px;
  font-weight: bold;
  text-align: left;
}

.page-text3 {
  margin-top: var(--dl-space-space-twounits);
  font-family: Times New Roman;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}

@media(max-width: 991px) {
  .page-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }

  .page-image {
    order: 2;
  }

  .page-container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .page-text {
    text-align: center;
  }

  .page-text3 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
}

@media(max-width: 767px) {
  .page-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .page-image {
    width: 80%;
  }
}

@media(max-width: 479px) {
  .page-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }

  .page-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .page-text3 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}